<div class="row banner">
    <div class="col-md-9 img-banner">
        <%= image_tag "wishlist-mountains.jpg" %>
    </div>
    <div class="col-md-3 text-banner">
        <h3>Join the community</h3>
    </div>
</div>

<div class="row places-ranking">
    <h2 class="text-ranking">Which places do you enjoy?</h2>
    <div class="rectangle"></div>
    
    <div class="col-md-4 img-ranking">
        <%= image_tag "Berlin-wishlist.jpg" %>
        <h3>Berlin</h3>
    </div>
    <div class="col-md-4 img-ranking">
        <%= image_tag "London-wishlist.jpg" %>
        <h3>London</h3>
    </div>
    <div class="col-md-4 img-ranking">
        <%= image_tag "Paris-wishlist.jpg" %>
        <h3>Paris</h3>
    </div>
</div>

<div class="row community">
    <h2 class="text-community">Join to our community</h2>
    <div class="rectangle"></div>
    <div class="col-md-6 img-community">
         <%= image_tag "wishlist-monitor.jpg" %>
    </div>
    <div class="col-md-6 button-community">
        <%= link_to "Go to community", posts_path, class: "btn-default " %>
    </div>
</div>

